.chatBubble {
    width: fit-content;
    background-color: rgb(221, 255, 255);
    border-radius: 2rem;
    padding: 0.5rem;

    h2 {
        font-size: 1.7rem;
        color: rgb(8, 8, 83);
    }

    p {
        font-size: 1.3rem;
        color: rgb(116, 26, 26);
    }
}

